

:root{

    /* palette */
    --bg_header:#2C3E50;
    --bg_main:#1ABC9C;
    --bg_portfolio1:#BA4B63;
    --bg_portfolio2:#1EA4B6;
    --bg_portfolio3:#140F0F;
    --bg_portfolio4:#1C83C1;
    --bg_portfolio4:#1C83C1;
    --bg_portfolio5:#0E38B5;
    --bg_portfolio6:#CCB2A3;
    --bg_top_footer:#3A546D;
    --bg_sub_footer:#2C3E50;
    --text_main:#2C3E50;
    --text_white:#FFFFFF;
    --text_green:#1ABC9C;

}

/* UTILITIES */

.bg_header{
    background-color: var(--bg_header);
}

.bg_main{
    background-color: var(--bg_main);
}

.bg_portfolio1{
    background-color: var(--bg_portfolio1);
}

.bg_portfolio2{
    background-color: var(--bg_portfolio2);
}

.bg_portfolio3{
    background-color: var(--bg_portfolio3);
}

.bg_portfolio4{
    background-color: var(--bg_portfolio4);
}

.bg_portfolio5{
    background-color: var(--bg_portfolio5);
}

.bg_portfolio6{
    background-color: var(--bg_portfolio6);
}

.bg_top_footer{
    background-color: var(--bg_top_footer);
}

.bg_sub_footer{
    background-color: var(--bg_sub_footer);
}

.text_main{
    color: var(--text_main);
}

.text_white{
    color: var(--text_white);
}

.text_green{
    color: var(--text_green);
}

.clean{
    text-decoration: none;
    color: inherit;
}



/* COMMON */
img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

/* HEADER */
header{
    height: 100px;
    line-height: 100px;
}

.logo, .hamburger{
    font-size: 1.3rem;
}

.hamburger{
    border: 1px solid var(--text_white);
    border-radius: 10px;
}

.hamburger i{
    padding: 0.5rem 0.8rem;
}

nav ul{
    font-size: 0.8rem;
}

/* MAIN */

/* Jumbotron */

section span::after, span::before{
    height: 10px;
    width: 100px;
    border-radius: 20px;
}

.jumbo img{
    max-width: 200px;
}



/* FOOTER */
footer{
    height: 200px;
}