

:root{

    /* palette */
    --ms-bg_header:#2C3E50;
    --ms-bg_main:#1ABC9C;
    --ms-bg_portfolio1:#BA4B63;
    --ms-bg_portfolio2:#1EA4B6;
    --ms-bg_portfolio3:#140F0F;
    --ms-bg_portfolio4:#1C83C1;
    --ms-bg_portfolio4:#1C83C1;
    --ms-bg_portfolio5:#0E38B5;
    --ms-bg_portfolio6:#CCB2A3;
    --ms-bg_top_footer:#3A546D;
    --ms-bg_sub_footer:#2C3E50;
    --ms-text_main:#2C3E50;
    --ms-text_white:#FFFFFF;
    --ms-text_green:#1ABC9C;

}

/* UTILITIES */

.ms-bg_header{
    background-color: var(--ms-bg_header);
}

.ms-bg_main{
    background-color: var(--ms-bg_main);
}

.ms-bg_portfolio1{
    background-color: var(--ms-bg_portfolio1);
}

.ms-bg_portfolio2{
    background-color: var(--ms-bg_portfolio2);
}

.ms-bg_portfolio3{
    background-color: var(--ms-bg_portfolio3);
}

.ms-bg_portfolio4{
    background-color: var(--ms-bg_portfolio4);
}

.ms-bg_portfolio5{
    background-color: var(--ms-bg_portfolio5);
}

.ms-bg_portfolio6{
    background-color: var(--ms-bg_portfolio6);
}

.ms-bg_top_footer{
    background-color: var(--ms-bg_top_footer);
}

.ms-bg_sub_footer{
    background-color: var(--ms-bg_sub_footer);
}

.ms-text_main{
    color: var(--ms-text_main);
}

.ms-text_white{
    color: var(--ms-text_white);
}

.ms-text_green{
    color: var(--ms-text_green);
}

.clean{
    text-decoration: none;
    color: inherit;
}



/* COMMON */
img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

/* HEADER */
header{
    height: 100px;
    line-height: 100px;
}

.logo, .hamburger{
    font-size: 1.3rem;
}

.hamburger{
    border: 1px solid var(--ms-text_white);
    border-radius: 10px;
}

.hamburger i{
    padding: 0.5rem 0.8rem;
}

nav ul{
    font-size: 0.8rem;
}

/* MAIN */

/* Jumbotron */
.ms-star{
    line-height: 10px;
    margin: 1rem 0;
}

.ms-star i{
    vertical-align: middle;
    font-size: 1.5rem;
}

.ms-star::before, .ms-star::after {
    display: inline-block;
    content:"";
    height: 5px;
    width: 50px;
    border-radius: 40px;
    background-color: white;
    vertical-align: middle;
}

.ms-black.ms-star::before, .ms-black.ms-star::after {
    background-color: #140F0F;

}


.jumbo img{
    max-width: 200px;
}

/* contact section */

.form-control{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
}

textarea.form-control {
    min-height: calc(6.5em + 0.75rem + 2px);
}

.form-floating>label{
    font-weight: 600;
}

.btn-primary{
    background-color: var(--ms-bg_main);
    border: none;
}

.circle{
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid white;
}

.circle i{
    vertical-align: sub;
}

/* FOOTER */
.sub-footer{
    height: 80px;
    line-height: 80px;
}