

:root{

    /* palette */
    --bg_header:#2C3E50;
    --bg_main:#1ABC9C;
    --bg_portfolio1:#BA4B63;
    --bg_portfolio2:#1EA4B6;
    --bg_portfolio3:#140F0F;
    --bg_portfolio4:#1C83C1;
    --bg_portfolio4:#1C83C1;
    --bg_portfolio5:#0E38B5;
    --bg_portfolio6:#CCB2A3;
    --bg_top_footer:#3A546D;
    --bg_sub_footer:#2C3E50;
    --text_main:#2C3E50;
    --text_white:#FFFFFF;
    --text_green:#1ABC9C;

}